#Q1
---------------
다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```

위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 즉 다음과 같이 동작하는 클래스를 만들어야 한다.

```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)
```

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [0]:
class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

In [0]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

#Q2
--------------
객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) 
cal.add(60) 

print(cal.value) 
```
단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [0]:
class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100

In [0]:
cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

In [0]:
print(cal.value)

100

#Q3
------------
다음 결과를 예측해 보자.

하나.
> all([1, 2, abs(-3)-3])

둘
> chr(ord('a')) == 'a'

In [0]:
all([1, 2, abs(-3)-3])

False

In [0]:
chr(ord('a')) == 'a'

True

#Q4
--------
filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [0]:
list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

#Q5
--------
234라는 10진수의 16진수는 다음과 같이 구할 수 있다.

```
 hex(234)
'0xea'
```
이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.

In [0]:
int('0xea', 16)

234

#Q6
---------
map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [0]:
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

#Q7
--------
다음 리스트의 최댓값과 최솟값의 합을 구해 보자

[-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
a = [-8, 2, 7, 5, -3, 5, 0, 1]
max(a) + min(a)

-1

#Q8
-----------
17 / 3의 결과는 다음과 같다.
```
 17 / 3
5.666666666666667
```
위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
round(17/3, 4)

5.6667

#Q9
---------------
다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트(C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```

풀이

txt파일에 해당 코드를 작성하고 myargv.py로 C:\doit 해당 경로에 저장한다.
```
import sys

numbers = sys.argv[1:]

result = 0
for number in numbers:
    result += int(number)
print(result)
```

그리고 파이썬을 실행한 후 
1. cd로 경로를 설정한다.
2. 입력값을 입력하여 실행

#Q10
-------
os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. C:\doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다

1. os 모듈의 chdir을 사용하여 C:\doit 이라는 디렉터리로 이동한다.

```
import os
os.chdir("c:/doit")
```

2. os 모듈의 popen을 사용하여 시스템 명령어인 dir을 수행한다.

```
result = os.popen("dir")

print(result.read())
```
...
abc.txt
bidusource.html
...

#Q11
-------
glob 모듈을 사용하여 C:\doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

풀이

```
import glob
glob.glob("c:/doit/*.py")
['c:/doit/doit01.py', 'c:/doit/test.py']
```

#Q12
-----------
time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

>2018/04/03 17:20:32

In [0]:
import time

In [5]:
time.strftime("%Y/%m/%d %H:%M:%S")

'2019/10/09 07:44:48'

#Q13
----------
random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [0]:
import random

In [9]:
result = []
while len(result) < 6:
  num = random.randint(1,45)
  if num not in result:
    result.append(num)
    
print(result)

[27, 4, 17, 43, 35, 45]