#Q1
--------------------
주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [0]:
def is_odd(number):
     if number % 2 == 1:
         return True
     else:
         return False

In [10]:
[is_odd(5), is_odd(6)]

[True, False]

In [0]:
is_odd = lambda x: True if x % 2 == 0 else False

In [25]:
is_odd(2)

True

#Q2
---------------------
입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)

In [0]:
def avg_number(*args):
  result = 0
  for i in args:
    result += i
  return result/len(args)

In [27]:
avg_number(1,2,3,4,5,6,7,8,9)

5.0

#Q3
---------------------------
다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)
```

이 프로그램을 수행해 보자.

첫번째 숫자를 입력하세요:3 <br>
두번째 숫자를 입력하세요:6 <br>
두 수의 합은 36 입니다

3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.

In [28]:
input1= input("첫번째 숫자를 입력하세요:")
input2= input("두번째 숫자를 입력하세요:")

total= int(input1) + int(input2)
print("두 수의 합은 %s 입니다" %total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

#Q4
-----------------
다음 중 출력 결과가 다른 것 한 개를 골라 보자.

1. `print("you" "need" "python")`
2. `print("you"+"need"+"python")`
3. `print("you", "need", "python")`
4. `print("".join(["you", "need", "python"]))`

In [29]:
print("you" "need" "python")

youneedpython

In [30]:
print("you"+"need"+"python")

youneedpython

In [31]:
print("you","need","python")

you need python

In [33]:
print("".join(["you", "need", "python"]))

youneedpython

3번의 경우 ,로 인해 공백이 생긴다

#Q5
--------------
다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.
```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())
```

이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [0]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

In [37]:
f2= open("test.txt", "r")
print(f2.read())
f2.close()

Life is too short

In [38]:
with open("test.txt", "w") as f1:
  f1.write("Life is too short!")

with open("test.txt", "r") as f2:
  print(f2.read())

Life is too short!

#Q6
----------
사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [43]:
user_input = input("저장할 내용을 입력하세요:")
f = open("test.txt", 'a')
f.write(user_input)
f.write("\n")
f.close()

저장할 내용을 입력하세요:danawa

#Q7
----------
다음과 같은 내용을 지닌 파일 test.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

Life is too short <br>
you need java

In [0]:
f3 = open("test.txt", 'w')
f3.write("Life is too short, you need java")
f3.close()

In [47]:
f4 = open("test.txt", 'r')
body = f4.read()
f4.close()
body

'Life is too short, you need java'

In [50]:
body = body.replace('java', 'python')
body

'Life is too short, you need python'

In [53]:
f5 = open("test.txt", 'w')
f5.write(body)
f5.close()
!cat test.txt

Life is too short, you need python